@import "~antd/lib/style/color/colorPalette.less";
@import "~antd/dist/antd.less";
@import "~antd/lib/style/themes/dark.less";

// These are shared variables that can be extracted to their own file
@primary-color: #FFFC31;
@border-radius-base: 4px;

@body-background: #381D2A;
@border-color-base: #6f6c6c;
@border-color-split: #424242;
@table-header-sort-active-bg: #424242;
@card-skeleton-bg: #424242;
@skeleton-color: #424242;
@table-header-sort-active-bg: #424242;

@link-color: @text-color;
@icon-color: @primary-color;

@dark-purple: #381D2A;
@light-pink: #F4EBE8;
@eggplant: #5E4B56;
@gray: #bdbdbd;

.highlight {
  background-color: #3f3f3f;
}

.jumbotron {
  background-color: rgb(75, 50, 61) !important;
}

.ant-card {
  background-color: @light-pink;
  color: white;
}
.ant-card-bordered {
  border: 1px solid @light-pink;
}
.ant-btn {
  border-radius: 0px;
}
.ant-btn-primary {
  color: #381D2A;
}
.selected {
  color: @primary-color;
}
.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab-active {
  background: @light-pink;
}
.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab {
  border: @light-pink;
}
.ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab {
  border-radius: 4px 0px 0 0;
}
.ant-input, .ant-select-selector {
  background-color: white !important;
  color: @eggplant;
  border-radius: 0px !important;
}
.ant-select-single {
  border-radius: 0px;
}
.ant-input::selection {
  color: @eggplant;
}
.ant-form-item-label > label {
  color: @eggplant;
}
.ant-input::placeholder, .ant-select-selection-placeholder {
  color: @gray;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
	color: @eggplant;
}
.anticon {
  color: @eggplant;
}
.ant-steps-item-process .ant-steps-item-icon .ant-steps-icon {
	color: @dark-purple;
}

/*
export const YELLOW = '#FFFC31';
export const DARK_PURPLE = '#381D2A';
export const LIGHT_PURPLE = '#5E4B56'; // eggplant
export const LIGHT_PINK = '#F4EBE8';
export const WHITE = '#FFFFFF';
export const ORANGE = '#FA6545';
*/