body {
  margin: 0;
  background-color: "#381D2A";
}

/*
export const YELLOW = '#FFFC31';
export const DARK_PURPLE = '#381D2A';
export const LIGHT_PURPLE = '#5E4B56'; // eggplant
export const LIGHT_PINK = '#F4EBE8';
export const WHITE = '#FFFFFF';
export const ORANGE = '#FA6545';
*/
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-steps-item-description {
  max-width: 300px !important;
}

.ant-page-header {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.ant-avatar-lg {
  line-height: 32px !important;
}